@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
nav{
  font-family: 'Anton', sans-serif;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
  text-decoration: none
}
 a:link, a:visited{
  color: #FAD02C;

}
a:hover{
  color: #90ADC6;
}
body{
  background-color: #333652;
  color: #FAD02C;
}
footer{
  background: #90ADC6;
  height: 50%;
}
